.input-hidden,
#edostavka_map.hidden,
.form-row.hidden {
    display: none !important;
}

#edostavka_map {
    width: 100%;
    height: 320px;
    padding: 0;
    margin: 15px auto;
}

.ui-autocomplete-loading {
	background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}